\#*
*~
*.o
*.obj
*.exe
*.lst
*.bin
*.lis
*.err
*.map
*.sym
*.reloc
abc*/
/roms/*.c
/autoconf/aclocal.m4
/autoconf/m4.old/
/autoconf/aux/
/abc80
/config/config.h
/config/config.h.in
/config.log
/config.status
/configure
/Makefile
