\#*
*~
*.o
*.obj
*.exe
*.lst
/*.bin
/asmsrc/*.bin
*.lis
*.err
*.map
*.sym
*.reloc
*.bac
*.bas
*.pok
*.png
*.diff
*.zip
*.gz
*.bz2
*.xz
abc*/
/roms/*.c
/win
/autoconf/aclocal.m4
/autoconf/m4.old/
/autoconf/aux/
/abc80
/config/config.h
/config/config.h.in
/config.log
/config.status
/configure
/Makefile
